$gray: #95A5A6;
$gold: #F1C40F;

body {
  background: darken($gray, 55%);
  height: 100%;
}

.hint {
    color: #ffffff;
}

.box {
  position: relative;
  height: 500px;
  width: 400px;
  margin: 5% auto 0 auto;
}

@-webkit-keyframes spinleft {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinright {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

.clock-body {
  position: absolute;
  height: 70%;
  width: 60%;
  top: 30%;
  left: 20%;
  background: darken($gray, 10%);
  z-index: 3;
}

.roof {
  position: absolute;
  height: 30%;
  width: 100%;
  top: -29%;
  left: .3%;
  background: darken($gray, 10%);
  -webkit-clip-path: polygon(100% 45%, 0% 100%, 100% 100%);
  clip-path: polygon(100% 45%, 0% 100%, 100% 100%);
  z-index: 3;
}

.roof-top {
  position: absolute;
  width: 120%;
  height: 5%;
  top: -10%;
  left: -10%;
  background: darken($gray, 40%);
  transform: rotate(-14deg);
  z-index: 3;
}

.roof-tower {
  position: absolute;
  height: 25%;
  width: 20%;
  top: -25%;
  left: 5%;
  background: darken($gray, 35%);
  z-index: 2;
  &:before {
    position: absolute;
    content: "";
    height: 25%;
    width: 5%;
    top: -25%;
    left: 5%;
    background: darken($gold, 20%);
  }
  &:after {
    position: absolute;
    content: "";
    height: 25%;
    width: 5%;
    top: -25%;
    left: 50%;
    background: darken($gold, 20%);
  }
}

.tower-beam {
  position: absolute;
  height: 20%;
  width: 5%;
  top: -20%;
  left: 94%;
  background: darken($gold, 20%);
}

.tower-top {
  position: absolute;
  height: 25%;
  width: 120%;
  top: -45%;
  left: -8%;
  background: darken($gray, 35%);
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  z-index: 2;
}

.hinge-one {
  position: absolute;
  height: 15%;
  width: 11%;
  top: -23%;
  left: 15%;
  background: lighten($gray, 15%);
  z-index: 2;
  border-radius: 10px 5px 5px 10px;
}

.hinge-one .screw-one {
  position: absolute;
  height: 20%;
  width: 30%;
  top: 13%;
  left: 80%;
  border-radius: 50%;
  background-color: darken($gray, 5%);
  z-index: 3;
  &:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 8%;
    left: -204%;
    border-radius: 50%;
    background: darken($gray, 5%);
  }
}

.hinge-one .screw-two {
  position: absolute;
  height: 20%;
  width: 30%;
  top: 70%;
  left: 80%;
  border-radius: 50%;
  background-color: darken($gray, 5%);
  z-index: 3;
  &:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 8%;
    left: -204%;
    border-radius: 50%;
    background: darken($gray, 5%)
  }
}

.hinge-two {
  position: absolute;
  height: 4%;
  width: 14%;
  top: -14%;
  left: 1%;
  background: darken($gray, 25%);
  z-index: 2;
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  transform: rotate(90deg);
}

.hinge-two .screw-one {
  position: absolute;
  height: 30%;
  width: 20%;
  top: 50%;
  left: 60%;
  border-radius: 50%;
  background-color: darken($gray, 5%);
  z-index: 3;
  &:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 8%;
    left: -210%;
    border-radius: 50%;
    background: darken($gray, 5%)
  }
}

.pipe-connector {
  position: absolute;
  height: 5%;
  width: 20%;
  top: 80%;
  left: 9%;
  background: darken($gold, 10%);
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  transform: rotate(-90deg);
  z-index: 3;
}

.pipe-connector-hinge {
  position: absolute;
  height: 20%;
  width: 4%;
  top: 73%;
  left: 20%;
  background: darken($gold, 13%);
  z-index: 3;
  &:before {
    position: absolute;
    content: "";
    background: red;
    height: 10%;
    width: 55%;
    top: 5%;
    left: 20%;
    border-radius: 50%;
    background: darken($gold, 20%);
  }
  &:after {
    position: absolute;
    content: "";
    background: red;
    height: 10%;
    width: 55%;
    top: 85%;
    left: 20%;
    border-radius: 50%;
    background: darken($gold, 20%);
  }
}

.pipe-horizontal-left {
  position: absolute;
  width: 50%;
  height: 2%;
  top: 21%;
  left: -17%;
  background: darken($gold, 25%);
  z-index: 1;
  &:before {
    position: absolute;
    content: "";
    height: 300%;
    width: 10%;
    left: 21%;
    top: -10%;
    background: lighten($gold, 10%);
  }
  &:after {
    position: absolute;
    content: "";
    height: 200%;
    width: 10%;
    left: -8%;
    top: -50%;
    border-radius: 50%;
    background: darken($gold, 35%);
  }
}

.pipe-horizontal-right {
  position: absolute;
  width: 40%;
  height: 2%;
  top: 18%;
  left: 35%;
  background: darken($gold, 14%);
  z-index: 1;
}

.pipe-vertical {
  position: absolute;
  width: 1.5%;
  height: 59%;
  top: 26.8%;
  left: -5%;
  background: darken($gold, 14%);
  z-index: 1;
}

.pipe-connector-horizontal {
  position: absolute;
  height: 2%;
  width: 30%;
  top: 82%;
  left: -5%;
  background: darken($gold, 25%);
  z-index: 1;
}

.face-inner {
  position: absolute;
  height: 30%;
  width: 40%;
  top: 50%;
  left: 30%;
  border-radius: 50%;
  background: white;
  z-index: 5;
}

.face-cog {
  position: absolute;
  height: 30%;
  width: 40%;
  top: 50%;
  left: 30%;
  border-radius: 50%;
  background: darken($gray, 30%);
  z-index: 4;
  -webkit-animation: spinleft 30s infinite linear;
  .cog-one {
    position: absolute;
    height: 130%;
    width: 30%;
    left: 35%;
    top: -15%;
    border-radius: 5px;
    background: darken($gray, 30%);
    transform: rotate(45deg);
  }
  .cog-two {
    position: absolute;
    height: 130%;
    width: 30%;
    left: 35%;
    top: -15%;
    border-radius: 5px;
    background: darken($gray, 30%);
    transform: rotate(-45deg);
  }
  .cog-three {
    position: absolute;
    height: 130%;
    width: 30%;
    left: 35%;
    top: -15%;
    border-radius: 5px;
    background: darken($gray, 30%);
  }
  .cog-four {
    position: absolute;
    height: 130%;
    width: 30%;
    left: 35%;
    top: -15%;
    border-radius: 5px;
    background: darken($gray, 30%);
    transform: rotate(90deg);
  }
}

.light-connector {
  position: absolute;
  height: 5%;
  width: 15%;
  top: 50%;
  left: 75%;
  background: lighten($gold, 5%);
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  transform: rotate(90deg);
  z-index: 3;
}

.light-connector-hinge {
  position: absolute;
  height: 15%;
  width: 4%;
  top: 45%;
  left: 77%;
  background: darken($gold, 12%);
  z-index: 3;
  &:before {
    position: absolute;
    content: "";
    background: red;
    height: 10%;
    width: 55%;
    top: 5%;
    left: 20%;
    border-radius: 50%;
    background: darken($gold, 20%);
  }
  &:after {
    position: absolute;
    content: "";
    background: red;
    height: 10%;
    width: 55%;
    top: 85%;
    left: 20%;
    border-radius: 50%;
    background: darken($gold, 20%);
  }
}

.light-pipe-horizontal {
  position: absolute;
  height: 2%;
  width: 20%;
  top: 51.5%;
  left: 80%;
  background: darken($gold, 25%);
  z-index: 1;
}

.light-pipe-vertical {
  position: absolute;
  width: 1.5%;
  height: 6%;
  top: 49%;
  left: 98%;
  background: darken($gold, 14%);
  z-index: 1;
}

.light-base-middle {
  position: absolute;
  height: 3%;
  width: 13%;
  top: 44.5%;
  left: 92%;
  background: darken($gray, 24%);
  z-index: 3;
}

.light-base-bottom {
  position: absolute;
  height: 3%;
  width: 13%;
  top: 47%;
  left: 92%;
  background: darken($gray, 20%);
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  transform: rotate(-180deg);
  z-index: 3;
}

.light-base-top {
  position: absolute;
  height: 3%;
  width: 13%;
  top: 43%;
  left: 92%;
  background: darken($gray, 20%);
  -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  z-index: 2;
}

.light-bulb {
  position: absolute;
  top: 30%;
  left: 94.8%;
  height: 15%;
  width: 6%;
  border: 2px solid lighten($gray, 50%);
  border-bottom: none;
  border-radius: 40px 40px 5px 5px;
}

*.light-bulb:hover {
  background: lighten($gold, 15%);
  border: 2px solid lighten($gray, 80%);
}

* .filament-one {
  position: absolute;
  top: 49%;
  left: 20.5%;
  height: 40%;
  width: 25%;
  border: 1px solid lighten($gray, 50%);
  border-bottom: none;
  border-radius: 40px 40px 5px 5px;
  z-index: 1;
}

.filament-two {
  position: absolute;
  top: 49%;
  left: 38.5%;
  height: 40%;
  width: 25%;
  border: 1px solid lighten($gray, 50%);
  border-bottom: none;
  border-radius: 40px 40px 5px 5px;
  z-index: 1;
}

.face-middle {
  position: absolute;
  height: 15%;
  width: 15%;
  top: 45%;
  left: 42%;
  border-radius: 50%;
  background: darken($gray, 50%);
  z-index: 5;
}

.face-number-border {
  position: absolute;
  height: 68%;
  width: 68%;
  border-radius: 50%;
  border: 25px solid darken(white, 15%);
  z-index: 4;
  .number-12 {
    position: absolute;
    top: -22%;
    left: 40%;
    font-size: 18px;
    font-weight: bold;
  }
  .number-3 {
    position: absolute;
    top: 40%;
    left: 102%;
    font-size: 18px;
    font-weight: bold;
  }
  .number-6 {
    position: absolute;
    top: 100%;
    left: 40%;
    font-size: 18px;
    font-weight: bold;
  }
  .number-9 {
    position: absolute;
    top: 40%;
    left: -20%;
    font-size: 18px;
    font-weight: bold;
  }
}

.hand-hour {
  position: absolute;
  background: darken($gold, 10%);
  height: 5%;
  width: 30%;
  top: 40%;
  left: 34%;
  z-index: 4;
  border-radius: 40px 40px 40px 40px;
  transform: rotate(90deg);
}

.hand-min {
  position: absolute;
  background: darken($gold, 20%);
  height: 3%;
  width: 30%;
  top: 45%;
  left: 18%;
  z-index: 4;
  border-radius: 40px 40px 40px 40px;
  transform: rotate(20deg);
}

.hand-second {
  position: absolute;
  background: darken($gold, 30%);
  height: 2%;
  width: 30%;
  top: 60%;
  left: 40%;
  z-index: 4;
  border-radius: 40px 40px 40px 40px;
  transform: rotate(240deg);
}

.gear-top-inner {
  position: absolute;
  height: 5%;
  width: 6%;
  top: 32.5%;
  left: 63%;
  border-radius: 50%;
  background: darken($gray, 10%);
  z-index: 5;
}

.gear-top {
  position: absolute;
  height: 10%;
  width: 12%;
  top: 30%;
  left: 60%;
  border-radius: 50%;
  background: darken($gray, 20%);
  z-index: 4;
  -webkit-animation: spinright 10s infinite linear;
  .cog-one {
    position: absolute;
    height: 140%;
    width: 20%;
    left: 40%;
    top: -20%;
    border-radius: 2px;
    background: darken($gray, 20%);
    transform: rotate(45deg);
  }
  .cog-two {
    position: absolute;
    height: 140%;
    width: 20%;
    left: 40%;
    top: -20%;
    border-radius: 2px;
    background: darken($gray, 20%);
    transform: rotate(-45deg);
  }
  .cog-three {
    position: absolute;
    height: 140%;
    width: 20%;
    left: 40%;
    top: -20%;
    border-radius: 2px;
    background: darken($gray, 20%);
  }
  .cog-four {
    position: absolute;
    height: 140%;
    width: 20%;
    left: 40%;
    top: -20%;
    border-radius: 2px;
    background: darken($gray, 20%);
    transform: rotate(90deg);
  }
}

.gear-bottom {
  position: absolute;
  height: 10%;
  width: 12%;
  top: 86%;
  left: 30%;
  border-radius: 50%;
  background: darken($gold, 20%);
  z-index: 4;
  -webkit-animation: spinright 10s infinite linear;
  .cog-one {
    position: absolute;
    height: 140%;
    width: 20%;
    left: 40%;
    top: -20%;
    border-radius: 2px;
    background: darken($gold, 20%);
    transform: rotate(45deg);
  }
  .cog-two {
    position: absolute;
    height: 140%;
    width: 20%;
    left: 40%;
    top: -20%;
    border-radius: 2px;
    background: darken($gold, 20%);
    transform: rotate(-45deg);
  }
  .cog-three {
    position: absolute;
    height: 140%;
    width: 20%;
    left: 40%;
    top: -20%;
    border-radius: 2px;
    background: darken($gold, 20%);
  }
  .cog-four {
    position: absolute;
    height: 140%;
    width: 20%;
    left: 40%;
    top: -20%;
    border-radius: 2px;
    background: darken($gold, 20%);
    transform: rotate(90deg);
  }
}
