body {
    /* padding: [top][right][bottom][left] || [top][right&left][bottom] || [top&bottom][right&left] */
    margin: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    /* width: 890px needed */
}

.container {
    position: relative;
    margin: 10% 10% 10% 10%;
}

/* ------------------ question ------------------ */

.question {
    font-size: 40px;
    font-weight: 600;
    color: red;
}


/* --------------- space-cowboy --------------- */
/* -------------------------------------------- */
/*  If viewed on mobile, (screen-width < 600px) */
/*  only show static pic and no laser animation */
/* -------------------------------------------- */

.space-cowboy {
    transform: scale(0.75);
    position: relative;
    min-height: 250px;
    user-select: none;
}

/* ---------- space-cowboy: mobile ------------ */

@media (max-width: 600px) {
    .space-cowboy {
        display: none;
    }
}

.space-cowboy__mobile {
    transform: scale(0.75);
    position: relative;
    min-height: 250px;
}

.space-cowboy__mobile img {
    max-width: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* --------- space-cowboy: non-mobile --------- */

@media (min-width: 601px) {
    .space-cowboy__mobile {
        display: none;
    }
}

/* body */
.space-cowboy__body {
    max-width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* arm container */
.space-cowboy__arm-container {
    max-width: 250px;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% + 25px);
    transform: translate(-50%, -50%);
}

/* arm */
.space-cowboy__arm {
    width: 100%;
    max-width: 100%;
    transform-origin: 50% 50%;
    transform: rotate(150deg);
}

/* laser effect */
.space-cowboy__laser {
    pointer-events: none;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% + 25px);
    width: 450px;
    height: 14px;
    background: url("data:image/svg+xml,%3Csvg width='180' height='13' viewBox='0 0 180 13' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3E Shape %3C/title%3E%3Cpath d='M0 4.07C2.5 2.326 5 .775 8.1.194 9.1 0 10.1 0 11.1 0c1.2 0 2.3.097 3.5.194 2.3.194 4.2 1.26 6 2.423 1.2.775 2.2 1.647 3.3 2.422 2.6 1.938 5.5 3.295 8.7 4.07 1.6.388 3.2-.097 4.7-.581 2.2-.678 4-1.841 5.8-3.198 2.5-1.938 5.3-3.392 8.3-4.555.8-.29 1.6-.29 2.3-.387 4-.485 7.8.387 11.2 2.52 1.2.774 2.3 1.647 3.4 2.519 1.2.969 2.5 1.938 4 2.616 3.7 1.745 7.4 1.745 11-.193 1.8-.97 3.4-2.326 5.1-3.49 4.5-3.1 9.3-4.554 14.8-3.294 2.3.581 4.3 1.744 6.2 3.295 3.7 3.004 7.9 4.942 12.8 5.136 2.3.097 4.4-.388 6.4-1.647 1.4-.873 2.9-1.745 4-3.102.7-.969 1.9-1.453 2.9-1.938 3.4-1.647 6.9-2.713 10.7-2.52 2.3.098 4.3.97 6 2.327 1.8 1.453 3.6 2.907 5.5 4.36 1.1.873 2.2 1.55 3.5 2.132 1.6.776 3.4 1.066 5.1 1.066 3.7-.097 6.6-1.55 9.8-3.488 1.8-.679 2.7-1.842 3.9-2.617v3.198c-1.4 1.648-3.7 2.423-5.5 3.392-2.4 1.357-5 2.229-7.7 2.326-2.3.097-4.5-.291-6.6-1.357-1.5-.775-2.8-1.744-4.1-2.81-1.5-1.26-3.1-2.52-4.6-3.683-2.7-2.035-5.9-2.423-9.2-1.744-2.8.581-5.6 1.453-7.9 3.198-.4.29-.7.484-1 .775-1.8 2.035-4.1 3.295-6.6 4.36-1.8.776-3.7.776-5.7.582-2.5-.194-4.9-.775-7.1-1.938-1.8-.969-3.6-2.035-5.2-3.295-3.3-2.713-7.1-4.167-11.5-3.392-3.2.485-6.2 1.745-8.8 3.78-2.1 1.647-4.2 3.198-6.8 4.167-.3.097-.7.29-1 .388-3.7.484-7.3.29-10.5-1.939-1.9-1.26-3.5-2.907-5.5-4.07C61 3.78 57 2.81 52.6 3.586c-.7.096-1.5.387-2.2.678-2.2 1.066-4.3 2.132-6.3 3.586-1.5 1.162-3.1 2.228-4.8 3.004-1.4.581-2.8.969-4.2 1.26-1.6.29-3-.097-4.5-.485-3.1-1.066-6-2.617-8.5-4.749-1.6-1.356-3.3-2.52-5.3-3.198-4.4-1.26-8.8-1.356-13 1.066-1.3.776-2.7 1.454-3.8 2.52V4.071z' fill='%23F3766B' fill-rule='nonzero'/%3E%3C/svg%3E%0A") repeat-x;
    background-size: auto 14px;
    animation: 14s laser linear infinite;
    transform-origin: bottom left;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    animation-play-state: paused;
}

/* shoot laser from gun instead of from arm */
/* make a white cover up from tip of arm to gun */
.space-cowboy__laser:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #fff 127px, rgba(255, 255, 255, 0) 132px);
}

/* laser wave effect */
@keyframes laser {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 2000px 0;
    }
}


/* ------------------ answers ------------------ */

.answers {
    position: relative;
    margin-top: 40px;
    text-align: center;
    pointer-events: none;
}

.answers .option {
    position: relative;
    background-color: lightyellow;
    padding: 0 10px;
    border: 2px solid gray;
    display: inline-block;
    pointer-events:auto;
}

.answers .spacing {
    margin: 0 200px;
    display: inline-block;
}

/* hide option images */
.answers .option__image {
    /* limit area to only the area of the option's text */
    position: absolute;
    /* set to opaque (can't see), default = non-opaque = 1 */
    opacity: 0;
    /* set image size */
    max-width: 300px;
    /* set cannot be targetted by mouse pointer */
    pointer-events: none;
    /* transition: [property-name] [duration] [timing-fuction] [transition-delay] */
    transition: transform 400ms ease-in-out, opacity 400ms ease-in-out;
}

/* show answers-image if non-mobile */
@media (min-width: 601px) {
    .option:hover {
        cursor: pointer;
        background-color: gray;
    }
    .option:hover .option__image {
        opacity: 1;
        position: absolute;
        /* arrange object order by x/y stack index (-=behind, auto/initial, += infront) */
        z-index: -1;
        /* image center aligns with option-text center*/
        /* top: 50%; left: 50%; transform: translate(-50%, -50%); */
        /* option + : x:center, y:top */
        left: 50%;
        top: 0%;
        /* image + : x:center, y:floatOnTop */
        transform: translate(-50%, -110%);
    }
}
